
.linha {
  max-height: 30%;
}

.linha > div {
  display: inline-block;
  mar
}

.linha p {
  font-size: 25px;
}

.linha > div > img {
  border-style: none;
  margin-top: 0px;
}

.caixa-simples {
  border: 5px solid white;
  width: 20%;
}

.caixa-dupla {
  border: 5px solid white;
  width: 40%;
}

.esquerda {
	float: left;
}

.direita {
	float: right;
}
